*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Light-Grayish-Cyan: hsl(180, 52%, 96%);   /*Background*/
--Light-Grayish-Cyan: hsl(180, 31%, 95%);
--Dark-Grayish-Cyan: hsl(180, 8%, 52%);
--Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

body{
    font-family: "League Spartan", sans-serif;
    
}