*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Light-Grayish-Cyan: hsl(180, 52%, 96%);   /*Background*/
--Light-Grayish-Cyan: hsl(180, 31%, 95%);
--Dark-Grayish-Cyan: hsl(180, 8%, 52%);
--Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

body{
    font-family: "League Spartan", sans-serif;
    background-color: var(--Light-Grayish-Cyan);

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f9b9b;
    height: 15vh;
}

.header img{
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    height: 15vh;
    width: 100%;
}